
{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   {% if category %}
    {{category.description|truncatewords:150}}
   {% else %}
    Welcome to ABC Stores where u can buy everything you need!
   {%endif%}
{% endblock %}
{% block title %}
{% if category %}
    {{category.name}}-ABC Store
   {% else %}
   See our new collections-ABC Store
   {% endif %}
{% endblock %}
{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx_auto">
        <p><a href="{%url 'shopapp:allCategory' %}">Our Product Collections</a></p>
    </div>
        </div>
</div>
{% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.img.url}}" alt="{{category.name}}">
</div>
<br/>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>

</div>
{% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'image/banner.png'%}" alt="our products" width="1250px">
</div>
<br>
<div>
    <h1 class="text-center my_title">our products collection</h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu orci accumsan, placerat felis id, rutrum nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc metus ex, lobortis ac massa et, vestibulum ullamcorper neque. Phasellus mauris mi, pulvinar ultricies ipsum et, viverra pulvinar nisl. In id lectus at mi ultricies scelerisque. Praesent consectetur leo ante, quis fermentum augue feugiat vitae. Donec fringilla laoreet consectetur. </p>
</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
    {% for product in products.object_list %}
    <div class="my_bottom_margin col-sm-12 col-md-4  xol-lg-4">
        <div class="card text-center" style="min-width:18rem;">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
       <div class="card-body">
           <h4>{{product.name}}</h4>
               <p>{{product.price}}</p>
       </div>

        </div>
    </div>
    {% endfor %}
        </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {%for pg in products.paginator.page_range%}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
         {% endif %}
    </div>
    <br/>
</div>
{% endblock %}